In [1]:
#reading csv and counting total number of rows and columns
import pandas as pd
import csv

df=pd.read_csv("iris.csv")
l=pd.DataFrame(df)
print(l.shape)
print(df)

(150, 6)
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [2]:
import pandas as pd
import csv

df=pd.read_csv("iris.csv")
print(df.tail(10))#last 5 data
print(df.head())#first 10

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
import pandas as pd

df=pd.read_csv("iris.csv")
print(df.loc[[2,3]])#row wise
print(df.iloc[[2,2]])#function enables us to select a particular cell of the dataset,

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   3            4.7           3.2            1.3           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [4]:
import pandas as pd

df=pd.read_csv("iris.csv")
i=df[["Id","SepalLengthCm"]]#specific column data
print(i)

      Id  SepalLengthCm
0      1            5.1
1      2            4.9
2      3            4.7
3      4            4.6
4      5            5.0
..   ...            ...
145  146            6.7
146  147            6.3
147  148            6.5
148  149            6.2
149  150            5.9

[150 rows x 2 columns]

In [5]:
import pandas as pd

df=pd.read_csv("iris.csv")
i=df.loc[[2,3],["Id","SepalLengthCm"]]#particular column and row
print(i)

   Id  SepalLengthCm
2   3            4.7
3   4            4.6

In [6]:
import pandas as pd

d={'name':['muskan','lama'],'class':['MCA','BBA']} #create df from dict
df=pd.DataFrame(d)
print(df)

     name class
0  muskan   MCA
1    lama   BBA

In [7]:
# Python code demonstrate to create
# Pandas DataFrame by passing lists of
# Dictionaries and row indices.
import pandas as pd

# Intitialize data of lists
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}]

# Creates pandas DataFrame by passing
# Lists of dictionaries and row index.
df = pd.DataFrame(data, index =['first', 'second'])

# Print the data
print(df)

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [13]:
import pandas as pd
   
da = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}] #list

   
# With two column indices, values same 
# as dictionary keys
df1 = pd.DataFrame(da, index =['first',
                                 'second'],
                   columns =['a', 'b','c'])
print(df1)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [9]:
#series 
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']

auth_series = pd.Series(author)
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [12]:
#tuple
# import pandas to use pandas DataFrame
# data in the form of list of tuples
data = [('Peter', 18, 7),
		('Riff', 15, 6)]


# create DataFrame using data
df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])

print(df)

    Name  Age  Score
0  Peter   18      7
1   Riff   15      6